<%- include('../partials/header') %>

<section>
    <% recipes.forEach(function(r) { %>
        <div class="recipe-box">
            <img class= "recipe-box-pic" src=<%= ${r.image} %> alt="Picture of <%= ${r.title} %>.">
            <%= ${r.title} %>
        </div>
    <% }); %>
</section>

<%- include('../partials/footer') %>