<%- include('../partials/header') %>
<body id="recipes-show">
    <div class="page-topper">
        <div class="page-title">
            <h1><%= title %></h1>
        </div>
    </div>
    <%- include('../partials/nav') %>
    <main>
 
    <section class="page-grid">

        <div class="panel">

            <table class="transparent-background">
                <thead>
                    <tr>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td><%= review.content %></td>
                        </tr>
                </tbody>
            </table>
        


        
    </table>

</section>

<%- include('../partials/footer') %>