<%- include('../partials/header') %>
<body id="recipes-index">
    <div class="page-topper">
        <div class="page-title">
            <h1><%= title %></h1>
        </div>
    </div>
    <%- include('../partials/nav') %>
    <main>

    <section class="page-grid">

        <div class="panel">

            <% recipes.forEach(function(r) { %>
                
            <table class="recipe-panel shadow">
                <tbody>
                    <tr>
                        <td>
                            <a href="/recipes/<%= r._id %>">
                                <img class="panel-picture"
                                src="<%= r.image %>""
                                alt="Plate of <%= r.title %>">
                            </a>
                        </td>
                    </tr>
                <tr>
                    <td class="panel-title">
                        <a href="/recipes/<%= r._id %>">
                            <%= r.title.toUpperCase() %>
                        </a>
                    </td>
                </tr>
            </tbody>
            </table>
        <% }) %>


        </div>
    </section>

<%- include('../partials/footer') %>