<%- include('../partials/header') %>
<body id="recipes-show">
    <div class="page-topper">
        <div class="page-title">
            <h1><%= title %></h1>
        </div>
    </div>
    <%- include('../partials/nav') %>
    <main>

      
    <section class="show-page-grid">
    <div class= "image-panel">
        <img class= "recipe-picture shadow" src=<%=recipe.image%> alt="Picture of finished recipe.">
    </div>

    <div class= "title-panel">

        <div class="rating">
            <% for (i = 0; i < recipe.rating; i++) { %>
                <%= "★" %>
            <% } %>
        </div>
        <div class="notes">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas non voluptatum aut. Cumque, eveniet eaque odio laborum molestiae, veritatis ullam mollitia quidem amet non facilis esse molestias debitis rerum quam!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas non voluptatum aut. Cumque, eveniet eaque odio laborum molestiae, veritatis ullam mollitia quidem amet non facilis esse molestias debitis rerum quam!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas non voluptatum aut. Cumque, eveniet eaque odio laborum molestiae, veritatis ullam mollitia quidem amet non facilis esse molestias debitis rerum quam!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas non voluptatum aut. Cumque, eveniet eaque odio laborum molestiae, veritatis ullam mollitia quidem amet non facilis esse molestias debitis rerum quam!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas non voluptatum aut. Cumque, eveniet eaque odio laborum molestiae, veritatis ullam mollitia quidem amet non facilis esse molestias debitis rerum quam!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas non voluptatum aut. Cumque, eveniet eaque odio laborum molestiae, veritatis ullam mollitia quidem amet non facilis esse molestias debitis rerum quam!

        </div>
    </div>

    <div class="ingredients-panel">
        <table>
            <% recipe.ingredientList.forEach(function(s) { %>
            <thead>
                <tr>
                    <th><%= s.section %></th>
                </tr>
            </thead>
                <tbody>
                    <% s.ingredients.forEach(function(i) { %>
                        <tr>
                            <td>
                            <%= i.quantity %> <%= i.unit %> <%= i.ingredient %>
                            </td>
                        </tr>

                    <% }) %>
                </tbody>
            <% }) %>
        </table>
    </div>

    <div class="method-panel">
        <table>
            <thead>
                <tr>
                    <th>Method</th>
                </tr>
            </thead>
            <tbody>
                <% recipe.method.forEach(function(m) { %>
                    <%= m %>

                <% }) %>
            </tbody>

        </table>

    </div>

</section>

<%- include('../partials/footer') %>