<%- include('../partials/header') %>
<body id="recipes-show">
    <div class="page-topper">
        <div class="page-title">
            <h1><%= title %></h1>
        </div>
    </div>
    <%- include('../partials/nav') %>
    <main>
        <section class="page-grid">
            <div class="panel">
            <div class="recipe-panel shadow ">
                <img class= "show-picture" src=<%=recipe.image%> alt="Picture of finished recipe.">
            </div>
            <div class="transparent-background">
                <% recipe.ingredientList.forEach(function(s) { %>
                <table class="section-table">
                    <thead>
                        <tr>
                            <th><%= s.section %></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% s.ingredients.forEach(function(i) { %>
                        <tr>
                            <td><%= i.quantity %> <%= i.unit %> - <%= i.ingredient %></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
                <% }) %>
            </div>

            <div class="transparent-background" id="comment-panel">
                <table>
                    <thead>
                        <tr>
                            <th colspan="3">Reviews</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="review-box-cell" colspan="4">
                                <form id="add-review-form" method="POST" action="/recipes/<%= recipe._id %>/reviews">
                                    <textarea class="review-box"  name="content"></textarea>
                                    <input type="text" value="<%= user.googleId %>" name="creatorID" hidden>
                                    <input type="text" value="<%= user.name %>" name="creatorName" hidden>
                                </td>
                        <tr>
                            <td colspan="3">
                                    <input class="add-review-button" type="submit" value="Add Review">
                            </td>
                        </tr>
                                </form>
                        <tr>
                            <% if (recipe.reviews.length) { %>
                                <% recipe.reviews.forEach(function(review) { %>
                                    <% if (user.googleId == review.creatorID) { %>
                                        <tr>
                                            <td class="edit-button">
                                                <form id="edit-review-button" method="GET"
                                                    action="/reviews/<%= review._id %>/edit">
                                                    <input class="button edit-button" type="submit" value="Edit">
                                                </form>
                                            </td>
                                    <% } else { %>
                                            <td class="reviewer-name"><%= review.creatorName %>
                                            </td>
                                    <% } %>
                                            <td class="review-cell">● <%= review.content %>
                                            </td>
                                    <% if (user.googleId == review.creatorID) { %>
                                        <td>
                                            <form id="delete-review-button" method="POST" action="/reviews/<%= review._id %>?_method=DELETE">
                                                <input class="button delete-button" type="submit" value="X">
                                            </form>
                                        </td>
                                    <% } %>
                        </tr>
                                <% }) %>
                            <% } else { %>
                                <tr>
                                    <td><h3>No Reviews Yet</h3>
                                    </td>
                                </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>
                

            <div class="transparent-background">
                <table>
                    <thead>
                        <tr>
                            <th colspan="2">Method</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% recipe.method.forEach(function(m) { %>
                            <tr>
                                <td class="method-bullet">● </td>
                                <td><%= m %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </section>

<%- include('../partials/footer') %>