<%- include('../partials/header') %>
<body id="recipes-show">
    <div class="page-topper">
        <div class="page-title">
            <h1><%= title %></h1>
        </div>
    </div>
    <%- include('../partials/nav') %>
    <main>
 
    <section class="page-grid">

        <div class="panel">
            
            <table class="recipe-panel shadow">
                <tbody>
                    <tr>
                        <td>
                            <img class= "panel-picture" src=<%=recipe.image%> alt="Picture of finished recipe.">
                        </td>
                    </tr>
                </tbody>
            </table>


            <div class="transparent-background">
            <% recipe.ingredientList.forEach(function(s) { %>
            <table>
                <thead>
                    <tr>
                        <th><%= s.section %></th>
                    </tr>
                </thead>
                    <tbody>
                        <% s.ingredients.forEach(function(i) { %>
                            <tr>
                                <td>
                                <%= i.quantity %> <%= i.unit %> <%= i.ingredient %>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
                <% }) %>
        </div>

        <table class="transparent-background" id="comment-panel">
            <thead>
                <tr>
                    <th>Reviews</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <form id="add-review-form" method="POST"
                        action="/recipes/<%= recipe._id %>/reviews">
                        <input type="text" name="content">
                        <input type="text" value="<%= user._id %>" name="creatorID" hidden>
                        <input type="submit" value="Add Review">
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>

            

                        <% if (recipe.reviews.length) { %>
                            <% recipe.reviews.forEach(function(r) { %>
                                <tr>
                                    <% console.log("USER: ", user._id) %>
                                    <% console.log("CREATOR: ", r.creatorID) %>
                                    <% if (user._id == r.creatorID) { %>
                                        <td>
                                        <a class="not-a-button" href="/recipes/#/edit/">Edit</a>
                                        </td>
                                    <% } else { %>
                                        <td>name :  </td>
                                    <% } %>


                                    <td>● <%= r.content %></td>
                                    <% }) %>
                            <% } else { %>
                                    <h4>No Reviews Yet</h4>
                            <% } %>
                        </tr>
                    </td>
                </tr>
            </tbody>

            <table class="transparent-background">
                <thead>
                    <tr>
                        <th>Method</th>
                    </tr>
                </thead>
                <tbody>
                    <% recipe.method.forEach(function(m) { %>
                        <tr>
                            <td>● <%= m %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        


        
    </table>

</section>

<%- include('../partials/footer') %>